.container {
    width: 100%;
}
.header {
    min-height: 50px;
    background-color: #222;
}
.header .wrap {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
.userMenu {
    float: right;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
.userMenu li {
    float: left;
    margin-right: 30px;
    cursor: pointer;
}
.icon-tuichu {
    display: inline-block;
    width: 22px;
}

.slider {
    float: left;
    width: 15%;
}
.search-area {
    position: relative;
    padding: 10px 15px;
    margin-top: 10px;
}
 .search {
    padding: 6px 12px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    color: #555;
    font-size: 14px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.search-area .icon-sousuo {
    position: absolute;
    right: 22px;
    top: 12px;
    cursor: pointer;
    font-size: 18px;
}
.sliderMenu-area {
	position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.sliderMenu-area  .loading {
	position: fixed;
    top: 50%;
    left: 5.5%;
    z-index: 100;
	margin-top: -12px;
}
.sliderMenu-list .menu-item {
    text-indent: 2em;
}
.menu-sub {
    display: none;
}
.menu-item.current + .menu-sub {
    display: block;
}
.menu-item-sub {
    text-indent: 3em;
    font-size: 12px;
}
.menu-item
 {
    position: relative;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
	background: #fff;
}
.menu-item > a {
    color: #666;
}

.menu-selected   {
    color: #2db7f5 !important;
}
.menu-item:hover, .menu-selected { 
    background-color: rgb(234,248,254);
}
.menu-item .icon-xiangxia,
.menu-item .icon-xiangshang {
    float: right;
    margin-right: 15px;
}

.menu-item > a > i.iconfont {
    padding-right: 5px;
}



/* ����������ʽ*/
 .main, .slider {
	position: absolute;
	top: 50px;
	bottom: 0;
	border-bottom: 1px solid #e9e9e9;
}
.slider {
	left: 0;
	right: 15%;
}
.main {
	right: 0;
	left: 15%;
    border-left: 1px solid #e9e9e9;
	overflow: hidden;
}
.main .loading {
	position: absolute;
    top: 50%;
    left: 45%;
    z-index: 201;
    margin-left: -12px;
	margin-top: -12px;
}

.breadcrumb-box .breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    background: #e9ecf2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>.active {
    color: #666;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.main .wrap {
	padding: 30px 30px;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.oper-box {
	overflow: hidden;
}
/*������ѡ��*/
.checkbox-wraper {
	position: relative;
	float: left;
	cursor: pointer;
    font-size: 12px;
	margin-top: 5px;
}
.checkbox {
	white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}
.checkbox-inner {
	position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    -webkit-transition: border-color .1s cubic-bezier(.71,-.46,.29,1.46),background-color .1s cubic-bezier(.71,-.46,.29,1.46);
    transition: border-color .1s cubic-bezier(.71,-.46,.29,1.46),background-color .1s cubic-bezier(.71,-.46,.29,1.46);
}
.checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all .1s cubic-bezier(.71,-.46,.88,.6);
    transition: all .1s cubic-bezier(.71,-.46,.88,.6);
}
input[type=checkbox], input[type=radio] {
    line-height: normal;
	box-sizing: border-box;
    padding: 0;
}
.checkbox-input {
	position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.checkbox + span {
	margin-left: 8px;
    margin-right: 8px;
}
.checkbox-checked  .checkbox-inner{
	border-color: #2db7f5;
    background-color: #2db7f5;
}
.btn-group {
	float: left;
	margin-left: 30px;
}
/* button��ť */
.btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 20px;
	margin-left: 10px;
    font-size: 12px;
    border-radius: 6px;
    -webkit-user-select: none;
	-webkit-appearance: button;
	outline: none;
	transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.btn-primary {
	color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
}
.btn-primary:hover {
	background-color: #57C5F7;
	border-color: #57C5F7;
}
.btn-disabled , .card-disabled {
	color: #ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
	cursor: not-allowed;
	outline: none;
}
.card-disabled  {
	cursor: default;
}
.search--box {
	float: right;
	margin-bottom: 30px;
}
.search--box  .search {
	width: 286px;
}
.search--box .btn-search {
	padding-top: 6px;
    padding-bottom: 6px;
}

/* ��Ƭ */
.card {
	width: 950px; 
	min-height: 147px;
}
.card-content {
	position: relative;
	float: left;
	width: 300px;
	text-align: center;
	margin-right: 10px;
	border: 1px solid #d9d9d9;
	background: #fff;
    border-radius: 4px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
	cursor: pointer;
}
.card-content:hover{-webkit-box-shadow: 0px 0px 10px #d9d9d9;}
.card-content:hover  .card-cell {
	bottom: 0;
	transition: bottom .2s linear;
}
.card-disabled:hover .card-cell {
	bottom: -42px;
}
.card-body {
	padding: 50px 0;
}
.card-body p,
.panel-heading,
.panel-title {
	font-size: 30px;
    font-weight: bold;
}

.card-body:hover {
	-webkit-box-shadow:  inset 1px 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 1px 1px 1px rgba(0,0,0,.075);
}
.card-cell {
	position: absolute;
	left: 0;
	bottom: -42px;
	padding: 10px 5px;
	width: 100%;
	color: #fff;
	text-align: right;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: rgba(0,0,0,.4);
}
.card-cell a {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	color: #fff;
}
.card-cell a:hover {
	text-decoration: underline;
}


/* ��ҳ */
.pagination-box {
	text-align: center;
	margin-top: 30px;
}
.pagination {
	float: left;
	position: relative;
	font-size: 12px;
}
.pagination-prev,
.pagination-next {
    font-family: Arial;
    cursor: pointer;
    color: #666;
    border-radius: 6px;
    list-style: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: inline-block;
	margin-right: 8px;
}
.pagination-next a, .pagination-prev a {
    color: #666;
}
.pagination-disabled i {
    color: #ccc;
	cursor: not-allowed;
}
.pagination-prev a:after {
    margin-top: -.5px;
    content: "\E601";
    display: block;
	font-size: 12px;
	transform: scale(.66666667) rotate(0deg);
	zoom: 1;
    display: block;
    height: 26px;
    line-height: 26px;
    font-family: anticon;
    text-align: center;
}
.pagination-item, .pagination-ellipsis {
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 8px;
    font-family: Arial;
}
.pagination-item a {
    text-decoration: none;
    color: #666;
    -webkit-transition: none;
    transition: none;
    margin: 0 6px;
}
.pagination-item.pagination-disabled a, .teshu {
	color: #d9d9d9;
	cursor: not-allowed;
}
.pagination-item-active {
    background-color: #2db7f5;
    border-color: #2db7f5;
}
.pagination-item-active a {
	color: #fff;
}
.pagination-disabled {
	cursor: not-allowed;
	background-color: #fff;
	border: 1px solid #d9d9d9;
}
.pagination-next, .pagination-prev {
    border: 1px solid #d9d9d9;
}

/* ��� */
.clearfix:after { 
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
} 
.clearfix {*zoom:1;}/*IE/7/6*/

/* ģ̬����ʽ */
.modal-dialog-box {
	display: none;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    background-color: rgba(0,0,0,.5);
    outline: 0;
}

.modal-dialog{
    position: absolute;
	top: 20%;
	left: 50%;
    width: 400px;
    margin-left: -200px;
	text-align: center;
	z-index: 1060;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header {
    min-height: 30px;
}
.modal-header .close {
    margin-right: 10px;
    margin-top: 5px;
}
.button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #ccc;
    text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}
.close span:hover {
	color: #2db7f5;
	opacity: 1 !important;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/* ������� */
.panel-container {
	display: none;
}
.slider-panel{
	position: fixed;	
	top: 50px;
	right: -500px;
	bottom: 0;
	border: 1px solid #ddd;
	width: 900px;
	background: #fff;
	z-index: 2000;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
	position: absolute;
    top: 70px;
    bottom: 0;
    right: 15px;
    left: 15px;
    overflow: auto;
}
.panel-content {
	padding: 10px;
    font-size: 16px;
    word-break: break-word;
    color: #333;
    margin-bottom: 20px;
}
.panel-default>.panel-heading {
    color: #333;
}
.panel-heading {
	margin-top: 5px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    position: relative;
    color: #666;
    top: 12px;
}
